*{
    box-sizing: border-box;
}

html{
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-color: #edebeb;
}

body{
    position: absolute;
    inset: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin: 0;
    display: grid;
    place-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.piano-container{
    width: min(90vw, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piano-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #000;
    border: 3px solid black;
    border-bottom: none;
    padding: 10px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: calc(100% + 6px);
    color: #edebeb;
}

.piano{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: min(300px, 80vh);
    overflow: hidden;
    box-sizing: content-box;
    border: 3px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.white-key{
    background-color: #fff;
    position: relative;
    grid-column: span 1;
    overflow: visible;
    cursor: pointer;
    transition: box-shadow .1s ease;
}

.white-key:not(:last-child){
    border-right: 2px solid black;
}

.white-key.clicked{
    box-shadow: inset 0px 0px 20px 0px #80808096;
}

.black-key{
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: black;
    top: 0;
    right: -30%;
    z-index: 1;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 2px 2px 4px rgb(1 1 1 / 56%);
    transition: box-shadow .1s ease;
}

.black-key.clicked{
    box-shadow: none;
}

@media (hover: hover) and (pointer: fine) {
    .white-key::after, .black-key::after{
        content: attr(data-key);
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.1rem;
        color: rgb(157, 155, 155);
    }
    
    .black-key::after{
        color: white;
    }
}

#octave{
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

#octave::-webkit-slider-runnable-track{
    background: #f95cf9;
    border-radius: 0;
    height: 8px;
}

#octave:focus::-webkit-slider-runnable-track{
    background: #f95cf9;
}

#octave::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 16px;
    margin-top: -4px;
    background: #fff;
    border-radius: 0;
}

#octave:focus::-webkit-slider-thumb{
    background: #fff;
}


#octave::-moz-range-track{
    border: none;
    background: #f95cf9;
    border-radius: 0;
    height: 8px;
}

#octave:focus::-moz-range-track{
    background: #f95cf9;
}

#octave::-moz-range-thumb{
    border: none;
    width: 10px;
    height: 16px;
    margin-top: -4px;
    background: #fff;
    border-radius: 0;
}

#octave:focus::-moz-range-thumb{
    background: #fff;
}

#me{
    font-weight: 500;
    text-align: right;
    margin-top: auto;
    position: absolute;
    bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
    right: calc(env(safe-area-inset-right) + 0.5rem);
    transform-origin: 100% 50%;
}

#me a{
    color: #fc2af5;
    text-decoration: none;
}

#pwa-install-btn{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: #fc2af5;
    border: none;
    padding: 0.5rem 0.8rem;
    color: #edebeb;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

#pwa-install-btn.show{
    display: inline;
}

@media screen and (max-width: 400px) {
    .piano{
        height: min(200px, 80vh);
    }
}

@media screen and (orientation:landscape) {
    #me{
        transform: rotate(90deg);
        bottom: calc(env(safe-area-inset-bottom));
        right: calc(env(safe-area-inset-right) + 1.5rem);
    }
}