*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #737c88;
    display: grid;
    place-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.piano-container{
    width: min(90vw, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piano-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4a974a;
    border: 3px solid black;
    border-bottom: none;
    padding: 10px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: calc(100% + 6px);
}

.piano{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: min(300px, 80vh);
    overflow: hidden;
    box-sizing: content-box;
    border: 3px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.white-key{
    background-color: azure;
    position: relative;
    grid-column: span 1;
    overflow: visible;
    cursor: pointer;
}

.white-key:not(:last-child){
    border-right: 2px solid black;
}

.white-key.clicked{
    box-shadow: inset 0px 0px 20px 0px #80808096;
}

.black-key{
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: black;
    top: 0;
    right: -30%;
    z-index: 1;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 2px 2px 4px rgb(128 128 128 / 56%);
}

.black-key.clicked{
    box-shadow: none;
}

.white-key::after{
    content: attr(data-note);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1rem;
    color: rgb(157, 155, 155);
}

@media screen and (max-width: 400px) {
    .piano{
        height: min(200px, 80vh);
    }
}